{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="bigwrapper">

        {% block head %}
        <header>
            <section class="logo">
                <a href="{% url 'frontview:homeView' %}">
                    <h1>AS<em>analysis</em></h1>
                </a>
            </section>
            <nav>
                <div>
                    <form action="{% url 'process:dashboardView' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" id="id_user_id2">
                        <button class="navbutton" type="submit">Dashboard</button>
                    </form>
                </div>

            </nav>
        </header>
        {% endblock head %}

        <div class="sperator"></div>
        <main>
            {% block main %}
            <section class="formsection">
                <form action="{% url 'frontview:homeView' %}" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Upload Your Data</legend>
                        {{form}}
                        <input type="text" name="user_id" id="id_user_id">
                        <!-- <label for="data">Select File</label>
                    <input type="file" name="data" id="data" accept=".csv,.xlsx"> -->
                        <button id="submitButton" type="submit">Upload</button>
                    </fieldset>
                </form>
            </section>
            {% endblock main %}
        </main>
        <div onclick="window.scrollTo({top: 0, behavior:'smooth'})" id="backToTop" class="backToTop">
            <a onclick="window.scrollTo({top: 0, behavior:'smooth'})">&#10094;</a>
        </div>
        <footer>
            {% block footer %}
            <footer>
                <p id="footer"> Copyright &copy;
                    <span id="footerdate" style="padding: 0%"></span>. All rights reserved.
                </p>
            </footer>
            {% endblock footer %}
        </footer>
    </div>
    {% block javascript %}
    <script src="{% static 'javascript/state.js' %}"></script>
    <script src="{% static 'javascript/home.js' %}"></script>
    {% endblock javascript %}
</body>

</html>