asgiref==3.5.2
boto3==1.26.45
botocore==1.29.45
cycler==0.11.0
Django==4.1.2
django-storages==1.13.2
et-xmlfile==1.1.0
fonttools==4.37.1
gunicorn==20.1.0
jmespath==1.0.1
kiwisolver==1.4.4
matplotlib==3.5.3
numpy==1.23.2
openpyxl==3.0.10
packaging==21.3
pandas==1.4.4
Pillow==9.2.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2.1
reportlab==3.6.12
s3transfer==0.6.0
seaborn==0.12.0
six==1.16.0
sqlparse==0.4.3
tzdata==2022.5
urllib3==1.26.13
XlsxWriter==3.0.3
