 {% extends 'home/home.html' %}{% load static %} {% block main %}

<section class="formsection">
    <form action="{% url 'process:analysisView' dataset_id %}" method="post">
        {% csrf_token %}
        <fieldset id="classify">
            <legend><h3>Help us understand your data </h3></legend>

            {% for col in column %}
            <div class="formdiv">
                <label for="{{col}}">{{col}}</label>
                <select name="{{col}}" id="">
    <option style="color:white;" value="none">Select the appropriate label</option>
    {% for label,value in sub_classes.items %}
    <option value="{{value}}">{{label}}</option>
    {% endfor %}
    <option value="none">Not Found</option>
</select></div> {% endfor %}

        </fieldset>
        <button class="submitButton" id="submitButton" type="submit">Done</button>
    </form>
</section>

{% endblock main %}